@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    @apply text-primary-100 font-poppins;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 14px;
    border-radius: 10px;
    background: #F8F4EA;
}

::-webkit-scrollbar-thumb {
    background: #881337;
    border-radius: 10px;
}
